#modalCloseCross {
    float:right;
    cursor:pointer;
    font-family: monospace;
    font-size: 18px;
    height: 30px;
    width: 30px;
    background: url("../images/msgbox_close.png") no-repeat;
}
#modalCloseCross:hover {
    color: blanchedalmond;
    height: 28px;
    width: 28px;
}
#regForm label, input{
    margin-bottom: 10px;
}
#regForm {
    margin-top:20px;
    position: relative;
}
#regForm input {
    font-size: 18pt;
    color: #aaa;
    border: 2px dashed #363841;
    -webkit-border-radius: 3px;
    margin-bottom: 20px;
    background: url("/images/20p-black.png") repeat;
}
#regForm input:focus {
    border: 1px solid #777;
    -webkit-border-radius: 3px;
}
#orRegister{
     text-align: left;
     margin-left: 17px;
     margin-top: 10px;
     margin-bottom: 10px;
     color: #ccc;
     font-size: 13pt;
}
#orRegister span{
    font-family: cursive;
    color: #f7d227; /*#f9af1c;*/
    font-size: 16pt;
}
#linkToRegistration, #linkToSignIn {
    color: #ccc;
    text-decoration: underline;
}
#linkToRegistration:hover, linkToSignIn:hover {
    color: #f7d227;
}
#horizontalLine{
    margin:0 10px;
    width:auto;
    height: 3px;
    background: url("../images/slider-separator.png") bottom repeat-x;
}
#inputInfo {
    text-align: left;
    position: absolute;
    left:17px;
    top:0px;
}
#forgot {
    position: absolute;
    top:240px;
    left:17px;
    font-family: cursive;
    cursor: default;
    color: #aaa;
}

.btnOrange, .btnGreen {
    padding: 2px;
    height: 38px;
    width: 160px;
    -webkit-border-radius: 7px;
    cursor: pointer;
    text-shadow:0 1px 0 white;
    color: #222;
}

.btnGreen {
    background:
    -webkit-gradient(linear, left top, left bottom, from(#b2e040), to(#9fc616));
}
.btnGreen:hover {
    background:
    -webkit-gradient(linear, left top, left bottom, from(#9fc616), to(#b2e040));
}

.btnOrange {
    background:
    -webkit-gradient(linear, left top, left bottom, from(rgb(246,160,2)), to(rgb(255,196,0)));
}
.btnOrange:hover {
    background:
    -webkit-gradient(linear, left top, left bottom, from(rgb(255,196,0)), to(rgb(246,160,2)));
}

.regFormButtons {
    position: absolute;
    top:166px;
    left:98px;
    right:auto;
}

.createNewAccount {
    position: absolute;
    top:218px;
    left:98px;
}

#uploadFile {
    position: absolute;
    top:200px;
    left:98px;
    right:auto;
}

#upload {
    color: silver;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 34px;
}
#mini {
    width: 300px;
    position:absolute;
    top:47px;
    left:17px;
}
#mini img {
    margin:0 auto 0 100px;
    border: 2px dashed #363841;
    -webkit-border-radius: 3px;
}


/************************************************/
.modalBlock {
    position: absolute;
    top: 0;
    left: 0;
}
.modalOverlay {
    background: black;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.6;
}
.modalWindow{
    height:380px;
    width:360px;
    position: fixed;
    left:50%;
    top:35%;
    margin-left:-180px;
    margin-top: -175px;
    background: #434654;
    background: url("../images/msgbox_bg.jpg") repeat;
    font-size: 14pt;
    padding: 0;
    -webkit-border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 3px inset,rgba(0, 0, 0, 0.3) 3px 4px 3px;
    -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 3px inset,rgba(0, 0, 0, 0.3) 3px 4px 3px;
}
.modalMessageHead {
    height: 25px;
    width: auto;
    background: url("../images/20p-black.png") repeat;
    color: #ccc;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    padding:8px 6px;
    font-family: Georgia,'Times New Roman',times,serif;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 3px inset,rgba(0, 0, 0, 0.3) 0 4px 3px;
	-moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 3px inset,rgba(0, 0, 0, 0.3) 0 4px 3px;
}
.errors {
    margin-left: 4px;
    font-size: 12pt;
    color: #fe7a15;
    font-family: serif;
    font-weight: bold;
}

