#regFormMainBlock.modalBlock
  .modalOverlay
  .modalWindow.ui-draggable
    .modalMessage
      .modalMessageHead
        Upload Photo
        %a{:href => root_path}
          #modalCloseCross.modalClose
    .flash
      - flash.each do |type, message|
        %div{:class => "message #{type}"}
          %p= message
      #uploadForm
        = render :partial => "form_upload_photo"
