/ Article block tags
%article.article_block_tags
  %header.title
    %h2
      %a{:href => "#"} Tags
  .article_content
    %img{:src => "/images/_tmp/example_tag_cloud.png", :style => "margin: -60px 0 0 50px; height: 300px;  "}/
    %br/