/ Article block comments
%article.article_block_comments
  %header.title
    %h2
      %a{:href => "#"} Comments
    %br/
    %br/
  .article_content
    %img{:src => "/images/_tmp/example_comments.png"}