/ Logo intro
%section.logo_intro
  %ul.left.tick
    %a{:class => "large medium_w orange awesome", :href =>  current_user ? edit_user_path(current_user) : new_user_session_path}
      Upload photo
    %a{:class => "large medium_w blue awesome", :href => new_user_session_path}
      Take a tour
    %li Edit, resize, and rotate in real-time
    %li
      %strong Free!
      Only email required.
  %ul.right.tick
    - if current_user
      %a{:class => "large medium_w green awesome", :href => user_path(current_user)}
        My page
      %a{:class => "large medium_w yellow awesome", :href => destroy_session_path(current_user)}
        Log Out
      %br
      %hr
      %span.avatar
        = image_tag(current_user.avatar.url(:thumb))
      %strong
        = current_user.full_name
      , 
      = current_user.attaches.count
      Photos
    - else
      %a{:class => "large medium_w green awesome", :href => new_user_session_path}
        Sign in
      %a{:class => "large medium_w yellow awesome", :href => new_user_registration_path}
        Sign Up
      %li Fix your photos in just one click
      %li
        %strong Free!
        Just create your account.
  .logo_title
    %img{:src => "/images/logo_intro.png"}/